<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Rails 6 BookStore</h1>

<h3>There's been an error.</h3>
<h3>That's all we know.</h3>
<h3>But we told the admin of the site.</h3>